[submodule "plugin-linear-ascent"]
	path = plugin-linear-ascent
	url = https://github.com/huemorgan2/plugin-linear-ascent.git
[submodule "luna"]
	path = luna
	url = https://github.com/huemorgan/luna.git
